<h2 style="text-align: center;">Proyectos</h2>
<div class="container overflow-hidden">
    <div
      class="border rounded col-12 p-4 shadow-sm mb-5 bg-body overflow-hidden"
      style="border: rgba(52, 67, 94, 0.25)"
    >
      <div class="card-body">
        <h3 class="card-title">Proyecto final Argentina Programa</h3>
        <h5 class="fw-normal fst-italic">Agosto 2022 - Enero 2023</h5>
        <p class="card-text text-muted">
            Desarrollo de una aplicación web fullstack utilizando Bootstrap, Angular, Spring Boot y MySQL.
        </p>
      </div>
</div>
</div>
<div class="container overflow-hidden">
    <div
      class="border rounded col-12 p-4 shadow-sm mb-5 bg-body overflow-hidden"
      style="border: rgba(52, 67, 94, 0.25)"
    >
      <div class="card-body">
        <h3 class="card-title">Simulador de clasificatorias</h3>
        <h5 class="fw-normal fst-italic">2021</h5>
        <p class="card-text text-muted">
            Script de Python que permite simular una temporada de partidas clasificatorias en la línea de comandos con sistema de Elo y ranking rudimentarios.
        </p>
      </div>
</div>
</div>