<h2 style="text-align: center;">Estudios</h2>
<div class="container overflow-hidden">
    <div
      class="border rounded col-12 p-4 shadow-sm mb-5 bg-body overflow-hidden d-flex"
      style="border: rgba(52, 67, 94, 0.25)"
    >
    <img src="../../assets/uba.jfif" alt="Logo de la UBA">
      <div class="card-body">
        <h3 class="card-title">Licenciatura en Economía</h3>
        <h5 class="card-subtitle fw-semibold fst-italic">Facultad de Ciencias Económicas, UBA</h5>
        <h5 class="fw-normal fst-italic">Abril 2018 - Presente</h5>
      </div>
</div>
</div>
<div class="container overflow-hidden">
    <div
      class="border rounded col-12 p-4 shadow-sm mb-5 bg-body overflow-hidden d-flex"
      style="border: rgba(52, 67, 94, 0.25)"
    >
    <img src="../../assets/uba.jfif" alt="Logo de la UBA">
      <div class="card-body">
        <h3 class="card-title">Licenciatura en Sistemas de la Información de las Organizaciones</h3>
        <h5 class="card-subtitle fw-semibold fst-italic">Facultad de Ciencias Económicas, UBA</h5>
        <h5 class="fw-normal fst-italic">Febrero 2023</h5>
      </div>
</div>
</div>
<div class="container overflow-hidden">
    <div
      class="border rounded col-12 p-4 shadow-sm mb-5 bg-body overflow-hidden d-flex"
      style="border: rgba(52, 67, 94, 0.25)"
    >
    <img src="../../assets/sololearn.jfif" alt="Logo de Sololearn">
      <div class="card-body">
        <h3 class="card-title">Curso de Python</h3>
        <h5 class="card-subtitle fw-semibold fst-italic">Sololearn</h5>
        <h5 class="fw-normal fst-italic">2022</h5>
      </div>
</div>
</div>
