<h2 style="text-align: center">Hard & Soft Skills</h2>

<div class="container overflow-hidden">
  <div
    class="border rounded col-12 p-4 shadow-sm mb-5 bg-body overflow-hidden"
    style="border: rgba(52, 67, 94, 0.25)"
  >
    <div class="row">
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="90"
          [radius]="60"
          [animation]="true"
          [animationDuration]="300"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [imageSrc]="'../../assets/filetype-html.svg'"
          [showImage]="true"
          [imageHeight]="60"
          [imageWidth]="60"
        ></circle-progress>
        <p class="fw-bold">HTML</p>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="70"
          [radius]="60"
          [animation]="true"
          [animationDuration]="300"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [imageSrc]="'../../assets/filetype-css.svg'"
          [showImage]="true"
          [imageHeight]="60"
          [imageWidth]="60"
        ></circle-progress>
        <p class="fw-bold">CSS</p>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="65"
          [radius]="60"
          [animation]="true"
          [animationDuration]="300"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [imageSrc]="'../../assets/filetype-js.svg'"
          [showImage]="true"
          [imageHeight]="60"
          [imageWidth]="60"
        ></circle-progress>
        <p class="fw-bold">Javascript</p>
      </div>
    </div>
    <div class="row pt-5">
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="30"
          [radius]="60"
          [animation]="true"
          [animationDuration]="300"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [imageSrc]="'../../assets/filetype-py.svg'"
          [showImage]="true"
          [imageHeight]="60"
          [imageWidth]="60"
        ></circle-progress>
        <p class="fw-bold">Python</p>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="90"
          [radius]="60"
          [animation]="true"
          [animationDuration]="300"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [imageSrc]="'../../assets/people.svg'"
          [showImage]="true"
          [imageHeight]="60"
          [imageWidth]="60"
        ></circle-progress>
        <p class="fw-bold">Trabajo en Equipo</p>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="80"
          [radius]="60"
          [animation]="true"
          [animationDuration]="300"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [imageSrc]="'../../assets/chat-left-dots.svg'"
          [showImage]="true"
          [imageHeight]="60"
          [imageWidth]="60"
        ></circle-progress>
        <p class="fw-bold">Comunicación</p>
      </div>
    </div>
  </div>
</div>
