.contendor-perfil {
  position: absolute;
  top: 270px;
  margin-left: 20px;
}
.contendor-perfil > img {
  width: 150px;
  border-radius: 50%;
  border: 2px solid rgba(52, 67, 94, 0.5);
}
.titulo {
  position: relative;
  top: -98px;
  left: 160px;
  color: #f3eff5ff;
}

.subtitulo {
  color: #34435eff;
  margin-top: 15px;
  position: relative;
  top: -98px;
  left: 160px;
}

div.descripcion {
  background-color: #48acf0ff;
  text-align: center;
  margin: 60px 200px;
  padding: 5px;
  border: 3px solid rgba(52, 67, 94, 0.25);
  color: #f3eff5ff;
}
.color-fondo {
  background-color: #48acf0ff;
}