<h2 style="text-align: center;">Experiencia</h2>
<div class="container overflow-hidden">
    <div
      class="border rounded col-12 p-4 shadow-sm mb-5 bg-body overflow-hidden"
      style="border: rgba(52, 67, 94, 0.25)"
    >
      <div class="card-body">
        <h3 class="card-title">Ayudante de cátedra</h3>
        <h5 class="card-subtitle fw-semibold fst-italic">Facultad de Ciencias Económicas, UBA</h5>
        <h5 class="fw-normal fst-italic">Julio 2022 - Presente</h5>
        <p class="card-text text-muted">
            Dictado de clases prácticas de la materia Estadística.
        </p>
      </div>
</div>
  <div
    class="border rounded col-12 p-4 shadow-sm mb-5 bg-body"
    style="border: rgba(52, 67, 94, 0.25)"
  >
    <div class="card-body">
      <h3 class="card-title">Asesor comercial</h3>
      <h5 class="card-subtitle fw-semibold fst-italic">Dyktel</h5>
      <h5 class="fw-normal fst-italic">Octubre 2020 - Noviembre 2021</h5>
      <p class="card-text text-muted">
        Venta de servicios de telecomunicaciones para clientes residenciales.
        Manejo de CRM y seguimiento pos-venta.
      </p>
    </div>
  </div>
    <div
      class="border rounded col-12 p-4 shadow-sm mb-5 bg-body"
      style="border: rgba(52, 67, 94, 0.25)"
    >
      <div class="card-body">
        <h3 class="card-title">Atención al público</h3>
        <h5 class="card-subtitle fw-semibold fst-italic">"Cotillón La Nueva Doña Mary"</h5>
        <h5 class="fw-normal fst-italic">Diciembre 2018 - Marzo 2020</h5>
        <p class="card-text text-muted">
            Atención al público y a proveedores en mostrador.
        </p>
      </div>
    </div> 
</div>